
* {
  margin: 0;
  padding: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#title-outer {
    background-color: #0A0A0A;
}

#title-inner {
    width: 40em;
    margin: 0 auto;
    padding: 0.5em;
}

#blog-title {
    display: block;
    text-decoration: none;
    color: white;
}

#blog-description {
    color: #999999;
}

#site-inner {
    width: 40em;
    margin: 2em auto 2em auto;
    line-height: 1.5em;
    text-align: justify;
}

#site-inner p {
    margin-bottom: 1em;
}

#footer-inner {
    width: 40em;
    margin: 2em auto 2em auto;
    padding-top: 2em;
    border-top: 1px solid white;
}

body {
    background-color: white;
    color: black;
    font-size: 0.75em;
}

h1 {
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding: 0.8em 0em 0.2em 0em;
}

code  {
    font-family: consolas, monospace;
    font-size: 0.7em;
}

pre {
    overflow: auto;
    margin: 2em 1em 2em 1em;
    background-color: #222;
    color: white;
    padding: 0.5em;
}

