
* {
  margin: 0;
  padding: 0;
}

#title-outer {
    background-color: #0A0A0A;
}

#title-inner {
    width: 40em;
    margin: 0 auto;
    padding: 0.5em;
}

#blog-title {
    display: block;
    text-decoration: none;
    color: white;
}

#blog-description {
    color: #999999;
}

#site-inner {
    width: 40em;
    margin: 2em auto 2em auto;
    text-align: justify;
}

#site-inner p {
    margin-bottom: 1em;
}

#footer-inner {
    width: 40em;
    margin: 2em auto 2em auto;
    padding-top: 2em;
    border-top: 1px solid white;
}

body {
    font-size: 0.8em;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.5em;
}

code  {
    font-family: consolas, monospace;
    font-size: 0.8em;
}

pre {
    overflow: auto;
    margin: 2em 1em 2em 1em;
    padding: 0.5em;
    background-color: #222;
    color: white;
}

