
* {
  margin: 0;
  padding: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

body {
    background-color: #222;
    font-size: 0.8em;
}

h1 {
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding: 0.8em 0em 0.2em 0em;
}

#title-outer {
    background-color: #0A0A0A;
}

#title-inner {
    width: 40em;
    margin: 0 auto;
    padding: 0.5em;
}

#blog-title {
    display: block;
    text-decoration: none;
}

#blog-description {
    color: #999999;
}

#site-inner {
    width: 40em;
    margin: 2em auto 2em auto;
    line-height: 1.5em;
    text-align: justify;
    color: #DDDDDD;
}

#footer-inner {
    width: 40em;
    margin: 2em auto 2em auto;
    padding-top: 2em;
    border-top: 1px solid white;
}

a {
    color: white;
}
