<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Stephen Haberman" />
   <link href="http://feeds.feedburner.com/draconianoverlord" rel="alternate" title="Stephen Haberman" type="application/atom+xml" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" type="text/css" href="/css/shCore.css" />
   <link rel="stylesheet" type="text/css" href="/css/shThemeDefault.css" />
   <script type="text/javascript" src="/js/shCore.js"></script>
   <script type="text/javascript" src="/js/shBrushBash.js"></script>
   <script type="text/javascript" src="/js/shBrushPlain.js"></script>
   <script type="text/javascript" src="/js/shBrushScala.js"></script>
   <script type="text/javascript" src="/js/shBrushJava.js"></script>
   <script type="text/javascript" src="/js/shBrushXml.js"></script>
   <script type="text/javascript" src="/js/shBrushJScript.js"></script>
</head>
<body>

<div id="title-outer">
    <div id="title-inner">
        <h1 id="blog-title"><a href="/">Draconian Overlord</a></h1>
        <div id="blog-description">Oppressing software entropy</div>
    </div>
</div>

<div class="site-outer">
    <div id="site-inner">
        {{ content }}
    </div>
</div>

<div id="footer-outer">
    <div id="footer-inner">
        <a href="/about.html">About</a><br/>
        <a href="http://feeds.feedburner.com/draconianoverlord">Subscribe via RSS</a><br/>
        <a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=2695477&loc=en_US">Subscribe via Email</a>
    </div>
</div>

<script type="text/javascript">
SyntaxHighlighter.defaults['toolbar'] = false
SyntaxHighlighter.defaults['wrap-lines'] = false
SyntaxHighlighter.config.clipboardSwf = '/js/clipboard.swf';
SyntaxHighlighter.all();
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-168996-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
