<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Stephen Haberman" />
   <link href="http://feeds.feedburner.com/draconianoverlord" rel="alternate" title="Stephen Haberman" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div id="title-outer">
    <div id="title-inner">
        <h1><a id="blog-title" href="/">Draconian Overlord</a></h1>
        <div id="blog-description">Oppressing software entropy</div>
    </div>
</div>

<div class="site-outer">
    <div id="site-inner">
        {{ content }}
    </div>
</div>

<div id="footer-outer">
    <div id="footer-inner">
        <a href="/about.html">About</a><br/>
        <a href="http://feeds.feedburner.com/draconianoverlord">Subscribe via RSS</a><br/>
        <a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=2695477&loc=en_US">Subscribe via Email</a>
    </div>
</div>

</body>
</html>
